<h2>We Have Found Your Cat.</h2>

<div>
	<h3>catname: <%= @cat.name %></h3>
	<%= @cat.age ? @cat.age : 'unknown' %> years old<br>
	born: <%= @cat.birth_date %><br>
	gender: <%= @cat.sex ? @cat.sex : "not given" %> <br>
	color: <%= @cat.color %><br>

	<h3>existing requests for <%= @cat.name %></h3>
	<% if @user && @user == @cat.user %>
		<% @cat.cat_rental_requests.order("begin_date").each do |rental| %>
		begin_date = <%= rental.begin_date %> <br>
		end_date = <%= rental.end_date %> <br>
		status = <%= rental.status %> <br>
			<% unless rental.status == 'approved' %>
				<b>Approve or Deny the Cat Request?</b>

				<form action=<%= "/cats/#{@cat.id}/requests/#{rental.id}" %> method="post">
					<input type="hidden" name="_method" value="put">
					<input type="hidden" name="cat_rental_request[status]" value="approved" id="cat_rental_request[status]">
					<input type="submit" name="Approve" value="approve" id="Approve">
				</form>

				<form action=<%= "/cats/#{@cat.id}/requests/#{rental.id}" %> method="post">
					<input type="hidden" name="_method" value="put">
					<input type="hidden" name="cat_rental_request[status]" value="deny" id="cat_rental_request[status]">
					<input type="submit" name="Deny" value="deny" id="deny">
				</form>
			<%end%>
		<hr>
		<% end %>
	<% else %>
		You are not authorized to see this information. Please login. 
	<% end %>
	
</div>
